body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.format-contact {
    width: 200px;
}

.contact {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.contact [type=text] {
    border: 2px;
    border-radius: 4px;
  }